<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.link.dao.ItemCatMapper">
    
    <!-- 查询所有商品类目 -->  
    <select id="queryAll" resultType="com.link.pojo.ItemCat" >
        select * from item_cat
    </select>
    
</mapper>